---

import DetailsAccordion from "./DetailsAccordion.astro"

const { title, faq } = Astro.props

---

<section class="bs-container bs-mt-lg grid" id="faq">

  <!-- Title -->
  { title && <h2 class="bs-h2 text-center md:text-left" set:html={ title } />}

  <!-- FAQ -->
  <div class="grid gap-2 bs-mt-sm [&_summary]:font-semibold [&_summary]:text-xl [&_div]:font-normal [&_div]:text-base [&_div]:text-opacity-80 [&_div]:ml-3 [&_div]:pl-2 ">

    <!-- Item -->
    { faq.map( item =>

      <DetailsAccordion question={item.question} answer={item.answer} />

    )}

  </div>

</section>
